name: publish
on:
  push:
    branches:
      - 'master'
      - 'main'
    tags:
      - 'v*'
jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Import environment variables from file
        run: cat ".github/env" >> $GITHUB_ENV
      - name: Login to image registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.image-registry }}
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Generate image names
        id: images
        run: |
          echo -n ::set-output name=IMAGES::
          TAGS=($echo '${{ env.image-repository }}:latest')
          tag=($echo "${{ env.image-repository }}:$(git rev-parse --abbrev-ref HEAD | tr / -)-$(date +%Y-%m-%d)-$(git rev-parse --short HEAD)")
          TAGS+=($echo $(echo $tag | awk '{ print tolower($1) }'))
          ( IFS=$','; echo "${TAGS[*]}" )
      - name: Build and publish image(s) to registry
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: "${{ steps.images.outputs.IMAGES }}"
